/* 
    Created on : 18 mars 2014, 14:40:49
    Author     : 4lexandre, FaCoInf, LauraPrem
*/

.row [class^="col-"] {
/*   border: 1px solid #ddd;
    border: 1px solid rgba(128,128,128,.4);
    border-radius: 5px;*/
}
footer {
  background: black;
  color: white;
}
.list-group-item{
    background-color: rgb(51,204,204);
}

.img-jeu{
    max-height: 200px;
}

.img-panier{
    max-height: 70px;
}

.navbar-default {
    background-color: #800080;
    border-color: #800080;
}
.list-group-item {
    border: 1px solid #800080;
}
a.list-group-item {
    color: #000;
}

.col-vert-centered-2{
    margin: 12% 0;
}

.btn{
    background-color: rgb(51,204,204);
}